# Directory of binned control files (set this to where you extract your binned control files)
ctrldir = /scratch/hiranumn/ctrl_data/
    
# Directory of xtx matrix (this should be there if your cloned this repo)
xtxdir = xtx/

# Output directory
outputdir = ./

# Size of bins
binsize = 100

# Size of shifting in bps
shift = 150

# metafile location
metafile = ../data/metadata.csv

# pval threshold (-log10 p-values)
th = 1.5

# chrom (set to -1 to call peak for whole chromosome)
chrom = -1
