# Directory of binned control files
ctrldir = /scratch/hiranumn/ctrl_data/
    
# Directory of xtx matrix
xtxdir = xtx/

# Output directory
outputdir = ./

# Size of bins
binsize = 100

# Size of shifting in bps
shift = 150

# metafile location
metafile = ../data/metadata.csv

# pval threshold
th = 1.5

# chrom
chrom = -1
